DB_PASSWORD=[db password]
HOST_IP_ADDRESS=[ip address of local machine]
DB_HOST_PORT=[a port number e.g. 7100]
REDIS_HOST_PORT=[a port number e.g. 7110]
REDIS_AUTH=[your redis password]
SECRET=[your secret key]
ALGORITHM=[Encryption algorithm e.g. HS256, HS384, HS512, RS256 etc. Recommend HS256]
